<div class="ui-g">
        <div class="ui-g-12">
            <h1 style="color:#4c4f4d; font-weight: bold">Titulos / Pesquisar</h1>
        </div>


        <form autocomplete="off" (ngSubmit)="pesquisar()">
            <div class="ui-g-12 ui-fluid">
            <input pInputText name="descricao" [(ngModel)]="filtro.descricao" placeholder="Filtrar pela descrição"/>
            </div>
            <div class="ui-g-12">
            <button pButton label="Pesquisar"></button>
            </div>
        </form>


        
        <p-table [value]="titulos" [responsive]="true" [paginator]="true"[rows]="filtro.itensPorPagina" [lazy]="true"  
        [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" [loading]="loading" #tabela>>
            <ng-template pTemplate="header">
                <tr>
                    <th>TIPO</th>
                    <th>DESCRICAO</th>
                    <th>VENCIMENTO</th>
                    <th>PAGAMENTO</th>
                    <th>PROFISSIONAL</th>
                    <th>VALOR</th>
                    <th>AÇÕES</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-titulo>
                <tr>
                    <td [style.color]="titulo.tipo === 'DESPESA' ? 'red' : 'blue'">{{titulo.tipo}}</td>
                    <td>{{titulo.descricao}}</td>
                    <td>{{titulo.dataVencimento | date: 'dd/MM/yyyy'}}</td>
                    <td>{{titulo.dataPagamento | date: 'dd/MM/yyyy'}}</td>
                    <td>{{titulo.profissional.nome}}</td>
                    <td [style.color]="titulo.tipo === 'DESPESA' ? 'red' : 'blue'">{{titulo.valor | number : '1.2-2'}}</td>
                    <td>
                            <button pButton [routerLink]="['/titulos', titulo.id]" icon="pi pi-pencil" pTooltip="editar" tooltipPosition="top" class="ui-button-info"></button>
                        <button pButton (click)="confirmarExclusao(titulo)" icon="pi pi-trash" pTooltip="deletar" tooltipPosition="top" class="ui-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
        
        
        
        </p-table>
        
        
        <a routerLink="/titulos/cadastrar"><button pButton label="Novo Registro"></button></a>
               
        
        
        
        
        </div>