<div class="ui-g">
    
    <div class="ui-g-12 ui-fluid">
    <h1>Usuários / Novo</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
    <form autocomplete="off" #form="ngForm" (ngSubmit)="salvar(form)">
    
    <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="usuario.nome" required/>
    </div>
    
    <div class="ui-g-12 ui-fluid">
        <label>E-mail</label>
        <input pInputText type="text" name="email" [(ngModel)]="usuario.email" required/>
    </div>
    
    <div class="ui-g-12 ui-fluid">
        <label>Senha</label>
        <input pInputText type="password" name="senha" [(ngModel)]="usuario.senha" required/>
    </div>

   
    <p-panel header="Permissões">
    <button pButton type="button" label="Novo" class="ui-button-secondary" (click)="prepararNovaPermissao()"></button>
        <p-table [value]="usuario.permissoes" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>DESCRIÇÃO</th>
                    <th>AÇÕES</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-permissao let-rowIndex="rowIndex">
                <tr>
                    <td>{{permissao.descricao}}</td>
                    <td>
                    <button type="button" pButton class="ui-button-danger" icon="pi pi-trash"
                    (click)="removerPermissao(rowIndex)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
   
                
    <div class="ui-g-12">
    <button pButton type="submit" [disabled]="form.invalid" label="Salvar"></button>
    </div> 
    </form>
    </div>
    </div>
<!--DIALOGO DE PERMISSOES-->
<p-dialog header="Cadastrar Permissão" [(visible)]="exibindoPermissao" modal="modal" *ngIf="permissao">
    <form #formPermissao="ngForm" (ngSubmit)="confirmarPermissao(formPermissao)">
        <div class="ui-g-12 ui-fluid">
            <label>Descrição</label>
            <p-dropdown name="id" [(ngModel)]="permissao.id" [options]="permissoes"
            placeholder="Selecione" [virtualScroll]="true"></p-dropdown>
        </div>
        <div class="ui-g-12">
            <button pButton label="Confirmar" [disabled]="formPermissao.invalid"></button>
        </div>
    </form>
</p-dialog>