<div class="ui-g">

        

    <div class="ui-g-12">
        <h1 style="color: dimgrey">{{ editando ? 'Edição de ' : 'Novo '}} Paciente</h1>
    </div>

    <div class="ui-g-12">

        <form autocomplete="off" #form="ngForm" (ngSubmit)="salvar(form)">
            
            <div class="ui-g-12"> <!--DIV TESTE-->

            <div class="ui-g-12 ui-md-6 ui-lg-6 ui-fluid">
            <input pInputText type="text" name="nome" [(ngModel)]="paciente.nome" placeholder="Nome"/>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-6 ui-fluid">   
            <input pInputText type="text" name="email" [(ngModel)]="paciente.email" placeholder="E-mail"/>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-6 ui-fluid">
            <input pInputText type="text" name="rg" [(ngModel)]="paciente.rg" placeholder="RG"/>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-6 ui-fluid">
            <p-inputMask type="text" name="cpf" [(ngModel)]="paciente.cpf" 
             placeholder="CPF" mask="999.999.999-99"></p-inputMask>
            </div>

            

         
            <!--TESTE ENDERECO-->

           

            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
      <!--      <input pInputText type="text" name="cep" [(ngModel)]="paciente.endereco.cep" placeholder="CEP"/> -->
            <p-inputMask mask="99.999-999" type="text" name="cep" [(ngModel)]="paciente.endereco.cep" placeholder="CEP"></p-inputMask>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
            <input pInputText type="text" name="logradouro" [(ngModel)]="paciente.endereco.logradouro" placeholder="Logradouro"/>
            </div>
    
            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
            <p-inputMask type="text" name="numero" [(ngModel)]="paciente.endereco.numero"
             placeholder="Número" mask="9?9999"></p-inputMask>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
            <input pInputText type="text" name="commplemento" [(ngModel)]="paciente.endereco.complemento" placeholder="Complemento"/>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
            <input pInputText type="text" name="cidade" [(ngModel)]="paciente.endereco.cidade" placeholder="Cidade"/>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
            <input pInputText type="text" name="estado" [(ngModel)]="paciente.endereco.estado" placeholder="Estado"/>
            </div>

           

    
                <!--TESTE ENDERECo-->



                <div class="ui-g-12">
                    <p-panel header="TELEFONES">
                            <div class="ui-g">
                        <button pButton icon="pi pi-plus" type="button" label="Novo" class="ui-button-secondary" (click)="prepararNovoTelefone()"></button>
                        <p-table [value]="paciente.telefones" [responsive]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>TIPO</th>
                                    <th>NUMERO</th>
                                    <th>AÇÕES</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-telefone let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{telefone.tipo}}</td>
                                        <td>{{telefone.numero}}</td>
                                        <td>
                                            <button pButton type="button" icon="pi pi-pencil" class="ui-button-info ui-button-rounded"
                                            (click)="prepararEdicaoTelefone(telefone, rowIndex)"></button>
                                            
                                            <button pButton type="button" icon="pi pi-trash" class="ui-button-danger ui-button-rounded"
                                            (click)="removerTelefone(rowIndex)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
    
                                <div class="ui-g-12">
                                <ng-template pTemplate="emptymessage">
                                     <p style="font-weight: bold;"> Nenhum telefone cadastrado</p>
                                      </ng-template>
                                    </div>
                        </p-table>
                    </div>
                    </p-panel>
                </div>




          <!--RESPONSAVEL -->
            
                <div class="ui-g-12">
                <p-panel header="RESPONSÁVEIS">
                        <div class="ui-g">
                    <button pButton icon="pi pi-plus" type="button" label="Novo" class="ui-button-secondary" (click)="prepararNovoResponsavel()"></button>
                    <p-table [value]="paciente.responsaveis" [responsive]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>NOME</th>
                                <th>GRAU PARENTESCO</th>
                                <th>CELULAR</th>
                                <th>AÇÕES</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-responsavel let-rowIndex="rowIndex">
                                <tr>
                                    <td>{{responsavel.nome}}</td>
                                    <td>{{responsavel.grauParentesco}}</td>
                                    <td>{{responsavel.celular}}</td>
                                    <td>
                                        <button pButton type="button" icon="pi pi-pencil" class="ui-button-info ui-button-rounded"
                                        (click)="prepararEdicaoResponsavel(responsavel, rowIndex)"></button>
                                        
                                        <button pButton type="button" icon="pi pi-trash" class="ui-button-danger ui-button-rounded"
                                        (click)="removerResponsavel(rowIndex)"></button>
                                    </td>
                                </tr>
                            </ng-template>

                            <div class="ui-g-12">
                            <ng-template pTemplate="emptymessage">
                                 <p style="font-weight: bold;"> Nenhum responsável cadastrado</p>
                                  </ng-template>
                                </div>
                    </p-table>
                </div>
                </p-panel>
            </div>


            <!--RESPONSAVELL-->
       


           

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar"></button>
                <a routerLink="/pacientes">      VOLTAR A PESQUISA</a>
            </div>

        </div> <!--DIV TESTE-->

        </form>

    </div>

</div>





<!--DIALOGO RESPONSAVEL-->
<p-dialog header="Cadastrar Responsável" [(visible)]="exibindo" modal="modal" *ngIf="responsavel">
<form #formResponsavel="ngForm" (ngSubmit)="confirmarResponsavel(formResponsavel)">
<div class="ui-g-12 ui-fluid">
    <input pInputText name="nome" [(ngModel)]="responsavel.nome" placeholder="Nome" required/>
</div>

<div class="ui-g-12 ui-fluid">
    <input pInputText name="grauParentesco" [(ngModel)]="responsavel.grauParentesco" placeholder="Grau Parentesco" required/>
</div>

<div class="ui-g-12 ui-fluid">
    <p-inputMask name="celular" mask="(99)?999999999" [(ngModel)]="responsavel.celular" placeholder="Celular" required></p-inputMask>
</div>

<div class="ui-g-12">
    <button pButton label="Confirmar" [disabled]="formResponsavel.invalid"></button>
</div>
</form>
</p-dialog>
<!--DIALOGO RESPONSAVEL-->



<!--DIALOGO TELEFONE-->
<p-dialog header="Cadastrar Telefone" [(visible)]="exibindoTelefone" modal="modal" *ngIf="telefone">
    <form #formTelefone="ngForm" (ngSubmit)="confirmarTelefone(formTelefone)">
    <div class="ui-g-12 ui-fluid">
        <p-dropdown [options]="tipos"  name="tipo" [(ngModel)]="telefone.tipo" placeholder="Selecione o tipo" required></p-dropdown>
    </div>
    
    <div class="ui-g-12 ui-fluid">
        <p-inputMask name="numero" [(ngModel)]="telefone.numero" 
         placeholder="Número" mask="(99)?999999999" required></p-inputMask>
    </div>
    
    <div class="ui-g-12">
        <button pButton label="Confirmar" [disabled]="formTelefone.invalid"></button>
    </div>
    </form>
    </p-dialog>
<!--DIALOGO TELEFONE-->
