<nav class="navbar">
    <div class="container">
    <div class="ui-g">
    <div class="ui-g-12">
    
       <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"> <i style="color:white" class="pi pi-bars"> </i></a>
       <!-- <button type="button" (click)="novoAccessToken()">Novo Access Token</button> -->
    </div>
    </div>
    </div>
    
    
    <ul class="navbar-menu" [hidden]="!exibindoMenu">
        <li class="navbar-user"><!--{{segurancaService.jwtPayload.user_name}}--></li>
        <li class="navbar-menuitem"><a routerLink="/titulos" (click)="exibindoMenu = !exibindoMenu">Titulos</a></li>
        <li class="navbar-menuitem"><a routerLink="/pacientes" (click)="exibindoMenu = !exibindoMenu">Pacientes</a></li>
        <li class="navbar-menuitem"><a routerLink="/relatorios" (click)="exibindoMenu = !exibindoMenu">Relatórios</a></li>
        <li class="navbar-menuitem"><a routerLink="/dashboard" (click)="exibindoMenu = !exibindoMenu">Dashboard</a></li>  
        <li class="navbar-menuitem"><a routerLink="/profissionais" (click)="exibindoMenu = !exibindoMenu">Profissionais</a> </li> 
        <li class="navbar-menuitem"><a routerLink="/agendamentos" (click)="exibindoMenu = !exibindoMenu">Agendamentos</a></li>  
        <li class="navbar-menuitem"><a href="javascript:;" (click)="deslogar()">Logout</a></li>
       
    </ul>
    
    
    </nav>


    <!--*ngIf="segurancaService.temPermissao('ROLE_REMOVER_PACIENTE')"-->