<div class="container">

    <div class="ui-g">

        <div class="ui-g-12">
            <h1 style="color:#4c4f4d; font-weight: bold">Dashboard</h1>
        </div>


        <div class="ui-g-12 ui-md-6">
            <p-panel header="ESTATISTICA DE TITULOS POR CATEGORIA">
                <p-chart type="pie" [data]="pieChartData"></p-chart>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-6">
            <p-panel header="ESTATISTICA DE TITULOS POR DIA">
                <p-chart type="line" [data]="lineChartData"></p-chart>
            </p-panel>
        </div>




    </div>

</div>