<div class="ui-g">

        <div class="ui-g-12 ui-fluid">
            <h1 style="color:#4c4f4d; font-weight: bold">Titulos / {{editando ? 'Editar' : 'Cadastrar'}}</h1>
        </div>
   
        
    <form [formGroup]="formulario" autocomplete="off" (ngSubmit)="salvar()">
        
        
        <p-fieldset>
        <p-header style="color:#4c4f4d; font-weight: bold">DADOS DO TITULO</p-header>  
          
        
        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
                <p-selectButton name="tipo" [options]="tipos" formControlName="tipo"></p-selectButton>
            </div>
        </div>
        
        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid" >
                <p-calendar name="dataVencimento" [touchUI]="true" formControlName="dataVencimento" 
                dateFormat="dd/mm/yy" placeholder="Data de Vencimento"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
                <p-calendar name="dataPagamento" [touchUI]="true" formControlName="dataPagamento" 
                dateFormat="dd/mm/yy" placeholder="Data de Pagamento"></p-calendar>
            </div>

        </div>

        <div class="ui-g-12 ui-fluid">      
            <div class="ui-g-12 ui-fluid">
                <input pInputText type="text" name="descricao" formControlName="descricao" placeholder="Descricao"/>
            </div>

        </div>  
            
        <div class="ui-g-12">
        
            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid" formGroupName="categoria">
                <p-dropdown name="categoria" [options]="categorias" formControlName="id" 
                placeholder="Selecione a Categoria" [filter]="true" [virtualScroll]="true"></p-dropdown>
            </div>
        
            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid" formGroupName="profissional" >
                <p-dropdown name="profissional" [options]="profissionais" formControlName="id"
                 placeholder="Selecione o Profissional" [filter]="true" [virtualScroll]="true"></p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
                <input pInputText name="valor" formControlName="valor" placeholder="Valor"/>
            </div>

        </div>

        <div class="ui-g-12">
            <div class="ui-g-12 ui-fluid">
                <input pInputText name="observacao" formControlName="observacao"
                placeholder="Observacao"/>
            </div>
        </div>

        </p-fieldset>
            
        
        
           
        
        
            <div class="ui-g-2 ui-fluid">
                <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid" class="ui-button-info"></button>
            </div>
        
            <br  />
        
            <a routerLink="/titulos">PESQUISA DE TITULOS</a>
           
        
           
        
    </form>
        
        
</div>
        