<div class="ui-g">
        <div class="ui-g-12">
            <h1 style="color:#4c4f4d; font-weight: bold">Login</h1>
        </div>

        {{segurancaService.jwtPayload | json}}
    
        <form #f="ngForm">
            <div class="ui-g-12">
    
            <label>E-mail</label>
            <input pInputText type="email" ngModel name="email" #email required/>
    
            <label>Senha</label>
            <input pInputText type="password" ngModel name="senha" #senha required/>
    
            </div>
    
            <div class="ui-g-12">
                <button pButton type="submit" label="Logar" [disabled]="f.invalid"
                (click)="login(email.value, senha.value)"></button>
            </div>
    
    
    
        </form>
    
    
    
    
    </div>